*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1lh;
}

#calculadora{
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}

#pantalla{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-width: 1vh;
    border: 1px solid black;
    border-radius: 5px;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 5px;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: teal;
}

/*el forwards hace que mientras se está encima se mantiene la animación al máximo*/
button:hover{
    animation: saturar 0.3s forwards; 
}

@keyframes saturar{
    0% {
        filter: saturate(1);
    }
    100%{
        filter: saturate(0.3);
    }
}

.operator{
    background-color: peru;
}